@model EntityFilesViewModel
@{
    var total = Model.Results?.Count() ?? 0; 
    var text = total == 1
        ? "file"
        : "files";
}
@if (total > 0)
{
    <div class="pl-3 pb-3">     
        <h6><i class="fal fa-paperclip fa-fw"></i> @total @text</h6>     
        @if (Model.Results != null)
        {
            foreach (var attachment in Model.Results)
            {
                var views = attachment.TotalViews == 1 ? T["view"] : T["views"];
                var details = $"{attachment.ContentLength.ToFriendlyFileSize()}, {attachment.TotalViews.ToPrettyInt()} {views.Value}";
                var extension = System.IO.Path.GetExtension(attachment.Name);
                var icon = !string.IsNullOrEmpty(extension) ? $"fiv-icon-{extension.Replace(".", "")}" : string.Empty;
                <div>   
                    @if (!string.IsNullOrEmpty(icon))
                    {
                        <span class="fiv-sqo @icon mr-1"></span>
                    }
                    <a asp-route-area="@attachment.ModuleId" asp-route-controller="Home" asp-route-action="Download" asp-route-id="@attachment.FileId" asp-route-alias="@attachment.Alias" target="_blank">@attachment.Name</a>
                    <span class="text-muted">@details</span>
                </div>
            }
        }
    </div>
}