@model LayoutViewModel
@{
    AddTitleSegment(T["Docs"]);
}

<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>

@*<div class="layout">
    <div class="layout-header layout-header-sticky">
        <div class="layout-header-content">
            @if (Model.Alerts != null)
            {
                <div class="layout-alerts">
                    <view model="@Model.Alerts"></view>
                </div>
            }
            @if (Model.Tools != null)
            {
                <div class="float-right layout-tools">
                    <view model="@Model.Tools" />
                </div>
            }
            @if (Model.Header != null)
            {
                <div class="layout-header-item">
                    <view model="@Model.Header" />
                </div>
            }
            @if (Model.Meta != null)
            {
                <div class="layout-meta">
                    <view model="@Model.Meta"></view>
                </div>
            }
        </div>
    </div>
    <div class="layout-body">
        @if (Model.SideBar != null)
        {
            <div class="row gutter-sm">
                <div class="col-lg-3 layout-sidebar layout-sidebar-sticky">
                    <div class="d-block layout-sidebar-content navbar-expand-lg">
                        <div class="navbar-toggler">
                            <a href="#" data-provide="tooltip" title="@T["Navigation"]" class="btn btn-primary position-fixed btn-block" style="z-index:10; left: 12px; bottom: 24px; max-width: 42px;" data-toggle="modal" data-target="#asides">
                                <i class="fal fa-bars"></i>
                            </a>
                        </div>
                        <div class="navbar-collapse collapse" id="sidebar-collapse" role="navigation">
                            <card class="card">
                                <card-body class="card-body p-2">
                                    @if (Model.SideBar != null)
                                    {
                                        <view model="@Model.SideBar"></view>
                                    }
                                </card-body>
                            </card>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 layout-content">
                    @if (Model.Content != null)
                    {
                        <view model="@Model.Content"></view>
                    }
                </div>
            </div>
        }
        else
        {
            @if (Model.Content != null)
            {
                <div class="layout-content">
                    <view model="@Model.Content"></view>
                </div>
            }
        }
    </div>
    <div class="layout-footer">
        @if (Model.Actions != null)
        {
            <div class="float-right layout-actions">
                <view model="@Model.Actions" />
            </div>
        }
        @if (Model.Footer != null)
        {
            <div class="layout-footer-item">
                <view model="@Model.Footer"></view>
            </div>
        }
    </div>
</div>*@

<div class="modal fade" id="asides" tabindex="-1" role="dialog" aria-labelledby="asidesTitle" aria-hidden="true">
    <div class="modal-dialog modal-left" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="searchHelpTitle">
                    @T["Browse"]
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body overflow-auto">
                @if (Model.SideBar != null)
                {
                    <view model="@Model.SideBar"></view>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
