@model ShareFileViewModel
@{
    Layout = null;
    var platoOpts = GetOptions<PlatoOptions>();
}

<form asp-route-action="Index" method="post" enctype="multipart/form-data" data-disable-submit="true">

    <div class="modal-header pb-0">
        <nav style="margin-bottom: -1px;">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                    @T["Share as Attachment"]
                </a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                    @T["Share as Link"]
                </a>
            </div>
        </nav>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="fal fa-times"></i>
            </span>
        </button>
    </div>

    <div class="modal-body">
        <input type="hidden" asp-for="@Model.FileId" />
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <fieldset>
                    <div class="form-group mt-2" asp-validation-class-for="AttachmentEmail">
                        <label asp-for="@Model.AttachmentEmail">
                            <span asp-validation-for="@Model.AttachmentEmail" class="text-danger"></span>
                            <span class="text-muted">
                                @T["Share this file as an email attachment with the email address below..."]
                            </span>
                        </label>
                        <input placeholder="email@address.com" asp-for="@Model.AttachmentEmail" class="form-control" autofocus />
                        @if (Model.File.ContentLength >= 5242880) // above 5mb
                        {
                            var size = Model.File?.ContentLength.ToFriendlyFileSize() ?? "0";
                            var text = T["The file you are sharing is {0}. Please ensure the email address you are sharing this file with can receive emails of this size. If your not sure consider sharing this file as a link."];
                            var msg = text.Value.Replace("{0}", size);
                            <div class="mt-2">
                                <span class="text-danger text-uppercase font-weight-bold">@T["Warning"]</span> <span class="text-muted">@msg</span>
                            </div>
                        }
                    </div>
                </fieldset>
                <fieldset>

                    @if (platoOpts.DemoMode)
                    {
                        <span class="d-inline-block disabled" data-toggle="tooltip" title="@T["This option is disabled within the demo"]">
                            <a href="#" class="btn btn-primary disabled">
                                @T["Share File"]
                            </a>
                        </span>
                    }
                    else
                    {
                        <button asp-route-action="ShareFileAttachment" type="submit" class="btn btn-primary">
                            @T["Share File"]
                        </button>
                    }

                    </fieldset>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <fieldset>
                    <div class="form-group mt-2" asp-validation-class-for="LinkEmail">
                        <label asp-for="@Model.LinkEmail">
                            <span asp-validation-for="@Model.LinkEmail" class="text-danger"></span>
                            <span class="text-muted">
                                @T["Share a download link to this file with the email address below..."]
                            </span>
                        </label>
                        <input placeholder="email@address.com" asp-for="@Model.LinkEmail" class="form-control" autofocus />
                    </div>
                </fieldset>
                <fieldset>

                    @if (platoOpts.DemoMode)
                    {
                        <span class="d-inline-block disabled" data-toggle="tooltip" title="@T["This option is disabled within the demo"]">
                            <a href="#" class="btn btn-primary disabled">
                                @T["Share File"]
                            </a>
                        </span>
                    }
                    else
                    {
                        <button asp-route-action="ShareFileLink" type="submit" class="btn btn-primary">
                            @T["Share File"]
                        </button>
                    }

                </fieldset>
            </div>
        </div>
    
    </div>

</form>

<script>
    $(function (win, doc, $) {
        $(doc).ready(function () {

            // Plato global
            var app = win.$.Plato;
            if (app == null) {
                throw Error("$.Plato has not been registered!");
            }

            // modal show
            $("#shareDialog").on('shown.bs.modal',
                function (e) {

                    $('#nav-tab a').on('click', function (e) {
                        e.preventDefault()
                        $(this).tab('show')
                    });

                    $(this).find("form").validate({
                        submitHandler: function () {

                            // Disable the submit button?
                            var $form = $(form);
                            if ($form.data("disableSubmit")) {
                                $form.find('*[type="submit"]')
                                    .addClass("disabled")
                                    .attr("disabled", "disabled");
                            }

                            // Note don't call $(form).submit() as this 
                            // internally calls the validators submitHandler again
                            form.submit();

                        }
                    });

                });

        });

    }(window, document, jQuery));
</script>