@model EntityAttachmentOptions
@{
    var postUrl = GetRouteUrl(Model.PostRoute);
    var editUrl = GetRouteUrl(Model.EditRoute);
    var previewUrl = GetRouteUrl(Model.PreviewRoute);
}

<input type="hidden" name="@Model.GuidHtmlName" value="@Model.Guid" />

<div class="card card-body-flush" data-provide="attachments">
    <div class="card-header p-0 dropdown list-group-flush">
        <a href="#" class="list-group-item list-group-item-action dropdown-toggle dropdown-toggle-no-caret font-weight-bold" id="attachmentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
            <i class="fal fa-cog float-right"></i>
            @T["Files"]
        </a>
        <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in p-0 min-w-500" aria-labelledby="attachmentDropdown">
            <div class="list-group list-group-flush">
                <div class="list-group-item list-group-item-dropzone">

                    <authorize asp-permission="@Model.PostPermission.Name">
                        <authorize-success>
                            <div class="dropzone"
                                 data-dropzone-url="@postUrl"
                                 data-progress-preview="#progress"
                                 data-provide="attachment-dropzone"></div>
                        </authorize-success>
                        <authorize-fail>
                            <div class="alert alert-danger text-center m-0">
                                @T["You don't have permission to post files"]
                            </div>
                        </authorize-fail>
                    </authorize>

                </div>
            </div>
            <div class="max-h-300 overflow-auto">                
                <div data-http-url="@editUrl" data-provide="http-content">
                    <p class="text-center"><i class="fal fa-spinner fa-spin"></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="progress"></div>
        <div id="preview" data-http-url="@previewUrl" data-http-defer="true" data-provide="http-content">
            @await DisplayAsync(new View("PreviewEntityFiles", new
            {
                Model
            }))
        </div>
    </div>
</div>