@model TourStep

<div class="p-3">
    @if (Model.CompletedDate.HasValue)
    {
        <div>
            @T["You've already updated your profile. Edit your profile anytime using the button below or"] <a asp-route-area="Plato.Users" asp-route-controller="Admin" asp-route-action="Index">@T["manage users"]</a>.
        </div>
        <br />
        <a asp-route-area="Plato.Users" asp-controller="Admin" asp-action="Edit" asp-route-id="@CurrentUser.Id" class="btn btn-primary">
            @T["Edit Your Profile"]
        </a>
    }
    else
    {
        <div>
            @T["Take a moment to review your profile. Provide a display name, a basic bio & upload a profile pic. "]
        </div>
        <br />
        <a asp-route-area="Plato.Users" asp-controller="Admin" asp-action="Edit" asp-route-id="@CurrentUser.Id" class="btn btn-primary">
            @T["Edit Your Profile"]
        </a>
    }
</div>