@model FilesViewModel
@{
    var deleteUrl = GetRouteUrl(Model.DeleteRoute);
    var availableSpace = Model.Options.AvailableSpace - Model.Info.Length;
    if (availableSpace < 0)
    {
        availableSpace = 0;
    }
    var maxFileSize = Model.Options.MaxFileSize;
}

@if (Model.Results?.Data != null)
{
    <div class="list-group list-group-flush list-group-hover select-dropdown-preview">
        @foreach (var file in Model.Results.Data)
        {
            var deletePermission = file.CreatedUserId == CurrentUser.Id
                ? Model.DeleteOwnPermission
                : Model.DeleteAnyPermission;
            var extension = System.IO.Path.GetExtension(file.Name);
            var iconCss = !string.IsNullOrEmpty(extension) ? $"fiv-icon-{extension.Replace(".", "")}" : string.Empty;
            <div class="list-group-item list-group-item-action">                
                <authorize asp-permission="@deletePermission.Name">
                    <authorize-success>
                        <a href="@deleteUrl" data-provide="delete-file" data-file-id="@file.Id" class="btn float-right text-muted" title="@T["Delete"]">
                            <i class="fal fa-times"></i>
                        </a>
                    </authorize-success>
                </authorize>
                @if (!string.IsNullOrEmpty(iconCss))
                {
                    <span class="fiv-sqo @iconCss align-middle mr-1"></span>
                }
                <a asp-route-area="@file.ModuleId" asp-route-controller="Home" asp-route-action="Download" asp-route-id="@file.Id" asp-route-alias="@file.Alias" target="_blank" class="align-middle">
                    @file.Name
                </a>
            </div>
        }
    </div>
}

<authorize asp-permission="@Model.PostPermission.Name">
    <authorize-success>
        <div class="alert m-0 border-0 text-center">
            <span class="text-muted">@T["Available space"]</span>
            <span class="font-weight-bold">@availableSpace.ToFriendlyFileSize()</span>
            <span class="text-muted">@T["Maximum file size"]</span>
            <span class="font-weight-bold">@maxFileSize.ToFriendlyFileSize()</span>
        </div>
    </authorize-success>
</authorize>
