@model LayoutViewModel
@{
    AddTitleSegment(T["Login"]);
}

<div class="layout">
    <div class="layout-header layout-header-sticky">
        <div class="layout-header-content">
            @if (Model.Alerts != null)
            {
                <div class="layout-alerts">
                    <view model="@Model.Alerts"></view>
                </div>
            }
            @if (Model.HeaderRight != null)
            {
                <div class="float-right layout-tools">
                    <view model="@Model.HeaderRight" />
                </div>
            }
            @if (Model.Header != null)
            {
                <div class="layout-header-item">
                    <view model="@Model.Header" />
                </div>
            }         
        </div>
    </div>
    <div class="layout-body">
        @if (Model.ContentLeft != null)
        {
            <div class="row">
                <div class="col-lg-6 layout-content">
                    <form asp-action="Login" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
                        @if (Model.Content != null)
                        {
                            <view model="@Model.Content"></view>
                        }
                        <div class="layout-footer">
                            @if (Model.FooterRight != null)
                            {
                                <div class="float-right layout-actions">
                                    <view model="@Model.FooterRight" />
                                </div>
                            }
                            @if (Model.Footer != null)
                            {
                                <div class="layout-footer-item">
                                    <view model="@Model.Footer"></view>
                                </div>
                            }
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 layout-sidebar">
                    @if (Model.ContentLeft != null)
                    {
                        <view model="@Model.ContentLeft"></view>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="Login" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
                        @if (Model.Content != null)
                        {
                            <div class="layout-content">
                                <view model="@Model.Content"></view>
                            </div>
                        }
                        <div class="layout-footer">
                            @if (Model.FooterRight != null)
                            {
                                <div class="float-right layout-actions">
                                    <view model="@Model.FooterRight" />
                                </div>
                            }
                            @if (Model.Footer != null)
                            {
                                <div class="layout-footer-item">
                                    <view model="@Model.Footer"></view>
                                </div>
                            }
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>

</div>
