@model EntityViewModel<Doc, DocComment>
@{
    var wordsPerMinute = 200;
    var totalWords = Model.Entity.TotalWords;
    var readingTime = totalWords / wordsPerMinute;
    var minuteText = readingTime == 1
        ? "minute"
        : "minutes";
    var readText = T["About {0} to read"].Value;
}

<div class="list-row">
    <navigation name="doc-details"
                model="Model.Entity"
                class="list-left list-inline p-0" />
    <div class="list-body reply-body">
        <card class="card doc-card">
            <card-title>
                <ul class="list-inline float-left p-0 m-0">
                    <li class="list-inline-item">
                        <span asp-id="title" class="d-inline-block text-muted">
                            @if (readingTime >= 1)
                            {
                                @readText.Replace("{0}", $"{readingTime} {minuteText}")
                            }
                            else
                            {
                                @T["Less than 1 minute to read"]
                            }
                        </span>
                    </li>
                    @if (Model.Entity.IsPrivate && base.CurrentUser != null)
                    {
                        if (Model.Entity.CreatedUserId == base.CurrentUser.Id)
                        {
                            <li class="list-inline-item">
                                <span class="badge badge-warning" data-toggle="tooltip" title="@T["This doc is private and only visible as you are the doc author"]">@T["Private"]</span>
                            </li>
                        }
                        else
                        {
                            <li class="list-inline-item">
                                <span class="badge badge-warning" data-toggle="tooltip" title="@T["This doc is private and only visible as you have permission to view private docs"]">@T["Private"]</span>
                            </li>
                        }
                    }
                    @if (Model.Entity.IsHidden)
                    {
                        <li class="list-inline-item">
                            <span data-toggle="tooltip" title="@T["This doc is hidden and only visible as you have permission to view hidden docs"]" class="badge badge-primary">@T["Hidden"]</span>
                        </li>
                    }
                    @if (Model.Entity.IsSpam)
                    {
                        <li class="list-inline-item">
                            <span class="badge badge-info" data-toggle="tooltip" title="@T["This doc has been flagged as SPAM and is only visible as you have permission to view docs flagged as SPAM"]">@T["SPAM"]</span>
                        </li>
                    }
                    @if (Model.Entity.IsDeleted)
                    {
                        <li class="list-inline-item">
                            <span class="badge badge-danger" data-toggle="tooltip" title="@T["This doc has been deleted and is only visible as you have permission to view deleted docs"]">@T["Deleted"]</span>
                        </li>
                    }
                </ul>
                <navigation name="doc"
                            model="Model.Entity"
                            class="nav navbar p-0 float-right"
                            child-ul-css-class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" 
                            child-ul-inner-css-class="min-w-200 max-h-250 overflow-auto" />
            </card-title>
            <card-body class="card-body-flush">
                <header class="doc-header p-3">
                    <h2 class="doc-title">@Model.Entity.Title</h2>
                    <hr />
                </header>
                <article asp-id="body" class="markdown-body entity-body doc-body p-3" data-provide="markdownBody">
                    @Html.Raw(@Model.Entity.Html)
                </article>                
                @if (Model.Entity.ChildEntities != null)
                {
                    <section asp-id="see-also" class="p-3 pt-0">                      
                        <h5>@T["See also"]</h5>
                        <ul>
                            @foreach (var child in Model.Entity.ChildEntities)
                            {
                                var popperUrl = GetRouteUrl(new RouteValueDictionary()
                                {
                                    ["area"] = "Plato.Entities",
                                    ["controller"] = "Home",
                                    ["action"] = "GetEntity",
                                    ["opts.id"] = child.Id,
                                    ["opts.alias"] = child.Alias
                                });
                                <li>
                                    <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@child.Id" asp-route-opts.alias="@child.Alias" data-provide="popper" data-popper-url="@popperUrl">
                                        @child.Title
                                    </a>
                                </li>
                            }
                        </ul>                     
                    </section>
                }              
                <navigation name="doc-footer"
                            model="Model.Entity"
                            enable-list="false" />
            </card-body>
        </card>
    </div>
</div>