@model DocFlipperViewModel

@if (Model.PreviousDoc != null || Model.NextDoc != null)
{
    var css = Model.PreviousDoc != null && Model.NextDoc != null ? "col-6" : "col-12";
    <div asp-id="previous-and-next" class="row pl-3 pr-3 pb-3">
        @if (Model.PreviousDoc != null)
        {
            <div class="@css">
                <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.PreviousDoc.Id" asp-route-opts.alias="@Model.PreviousDoc.Alias" class="btn btn-block btn-outline-secondary text-right">
                    <i class="fal fa-arrow-left float-left mt-3"></i>
                    <span class="small text-muted">
                        @T["Previous"]
                    </span><br />
                    <span class="font-weight-bold">
                        @Model.PreviousDoc.Title
                    </span>
                </a>
            </div>
        }
        @if (Model.NextDoc != null)
        {
            <div class="@css">
                <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.NextDoc.Id" asp-route-opts.alias="@Model.NextDoc.Alias" class="btn btn-block btn-outline-secondary text-left">
                    <i class="fal fa-arrow-right float-right mt-3"></i>
                    <span class="small text-muted">
                        @T["Next"]
                    </span><br />
                    <span class="font-weight-bold">
                        @Model.NextDoc.Title
                    </span>
                </a>
            </div>
        }
    </div>
}