@model EditTenantViewModel

<input type="hidden" asp-for="IsNewTenant" />
<input type="hidden" asp-for="Location" />
<input type="hidden" asp-for="CreatedDate" />
<input type="hidden" asp-for="ModifiedDate" />
<input type="hidden" name="id" value="@Model.SiteName" />

<card>
    <card-title>
        @if (Model.IsNewTenant)
        {
            <h6 class="card-title">@T["Add Tenant"]</h6>
        }
        else
        {
            <h6 class="card-title">@T["Edit Tenant"]</h6>
        }

    </card-title>
    <card-body>

        <div asp-validation-summary="All"></div>

        <div class="row">
            <div class="col-lg-6">
                @if (!Model.IsDefault)
                {
                    <fieldset class="row" asp-validation-class-for="SiteName">
                        <div class="form-group col-md-12">
                            <h6>@T["Name"]</h6>
                            <label asp-for="SiteName">@T["Provide a name for this tenant."]</label>
                            <input asp-for="SiteName" class="form-control" />
                            <span asp-validation-for="SiteName" class="text-danger"></span>
                        </div>
                    </fieldset>
                }
                else
                {
                    <fieldset class="row" asp-validation-class-for="SiteName">
                        <div class="form-group col-md-12">
                            <h6>@T["Name"]</h6>
                            <label asp-for="SiteName">
                                @T["You cannot change the name for the default tenant."]
                            </label>
                            <input readonly asp-for="SiteName" class="form-control" />
                            <span asp-validation-for="SiteName" class="text-danger"></span>
                        </div>
                    </fieldset>
                }
            </div>
            <div class="col-lg-6">
                <fieldset class="row" asp-validation-class-for="OwnerId">
                    <div class="form-group col-md-12">
                        <h6>@T["Owner"]</h6>
                        <label asp-for="OwnerId">
                            @T["Provide an optional email address or company name to identify the tenant owner."]
                        </label>
                        <input asp-for="OwnerId" class="form-control" />
                        <span asp-validation-for="OwnerId" class="text-danger"></span>
                    </div>
                </fieldset>

            </div>
        </div> 

        @if (Model.IsNewTenant)
        {
            @if (!Model.TablePrefixPreset || !Model.ConnectionStringPreset)
            {
                <div class="form-group">
                    <h6>@T["Database"]</h6>
                    @T["The Microsoft SQL Server 2016 or above database to store your tenant configuration and content. You will first need to create a new database within your instance of SQL Server and then point the connection string below to this new database."]
                </div>
            }
            @if (Model.ConnectionStringPreset)
            {
                <input asp-for="ConnectionString" type="hidden" />
            }
            else
            {
                <fieldset class="row" asp-validation-class-for="ConnectionString">
                    <div class="form-group col-md-12">
                        <label asp-for="ConnectionString">@T["Connection string"]</label>
                        <div class="input-group mb-2 mb-sm-0">
                            <div class="search-input-group">
                                <input asp-for="ConnectionString"
                                       autocomplete="off"
                                       data-provide="password"
                                       class="form-control" type="text" required />

                                <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="@T["Toggle Visibility"]" role="button">
                                    <i class="fal fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        <span asp-validation-for="ConnectionString" class="text-danger"></span>
                        <span class="text-muted form-text small">@T["The connection string to your database. e.g., server=localhost;uid=your_username;pwd=your_password;database=plato"]</span>
                    </div>
                </fieldset>
            }
            @if (Model.TablePrefixPreset)
            {
                <input asp-for="TablePrefix" type="hidden" />
            }
            else
            {
                <fieldset class="row" asp-validation-class-for="TablePrefix">
                    <div class="form-group col-md-12">
                        <label asp-for="TablePrefix">@T["Table Prefix"]</label>
                        <input asp-for="TablePrefix" class="form-control" />
                        <span asp-validation-for="TablePrefix" class="text-danger"></span>
                        <span class="text-muted form-text small">@T["You can specify a custom table prefix if you intend to reuse the same database for multiple unique instances of Plato."]</span>
                    </div>
                </fieldset>
            }
        }
        else
        {

            @if (!Model.IsDefault)
            {
                <fieldset class="row" asp-validation-class-for="State">
                    <div class="form-group col-md-12">
                        <h6>@T["State"]</h6>
                        <label asp-for="State">
                            @T["The state of the tenant. If disabled a 404 response will be returned for any requests to this tenant."]
                        </label>
                        <select class="form-control"
                                asp-for="State"
                                asp-items="@Model.AvailableTenantStates"></select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </fieldset>
            }
            else
            {              
                <input asp-for="State" type="hidden"/>
            }

            <fieldset class="row" asp-validation-class-for="ConnectionString">
                <div class="form-group col-md-12">
                    <h6>@T["Connection string"]</h6>
                    <label asp-for="ConnectionString">
                        @T["The connection string cannot be changed once the tenant has been created."]
                    </label>
                    <div class="input-group mb-2 mb-sm-0">
                        <div class="search-input-group">
                            <input asp-for="ConnectionString"
                                   readonly
                                   autocomplete="off"
                                   data-provide="password"
                                   class="form-control" type="text" required />
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="@T["Toggle Visibility"]" role="button">
                                <i class="fal fa-eye"></i>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="ConnectionString" class="text-danger"></span>
                </div>
            </fieldset>
            <fieldset class="row" asp-validation-class-for="TablePrefix">
                <div class="form-group col-md-12">
                    <h6>@T["Table Prefix"]</h6>
                    <label asp-for="TablePrefix">
                        @T["The table prefix cannot be changed once the tenant has been created."]
                    </label>
                    <input readonly asp-for="TablePrefix" class="form-control" />
                    <span asp-validation-for="TablePrefix" class="text-danger"></span>
                </div>
            </fieldset>
        }

        @if (Model.IsNewTenant)
        {
            <div class="form-group">
                <h6>@T["Administrator Account"]</h6>
                @T["The default administrator account can be used after the tenant is created to login and manage the tenant."]
            </div>
            <div class="row">
                <div class="col-md-6">
                    <fieldset class="row" asp-validation-class-for="TablePrefix">
                        <div class="form-group col-md-12">
                            <label asp-for="UserName">@T["Username"]</label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                            <span class="text-muted form-text small">@T["You must specify a username for the default administrator account. The username cannot contain the @ or , characters."]</span>
                        </div>
                    </fieldset>
                    <fieldset class="row" asp-validation-class-for="TablePrefix">
                        <div class="form-group col-md-12">
                            <label asp-for="Email">@T["Email Address"]</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <span class="text-muted form-text small">@T["You must specify an email address for the default administrator account"]</span>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">

                    <fieldset class="row" asp-validation-class-for="TablePrefix">
                        <div class="form-group col-md-12">
                            <label asp-for="Password">@T["Password"]</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <span class="text-muted form-text small">@T["Must contain at least 1 lower case character, 1 upper case character, 1 special character, 1 digit and be a minimum of 6 characters long."]</span>
                        </div>
                    </fieldset>
                    <fieldset class="row" asp-validation-class-for="TablePrefix">
                        <div class="form-group col-md-12">
                            <label asp-for="PasswordConfirmation">@T["Confirm Password"]</label>
                            <input asp-for="PasswordConfirmation" class="form-control" />
                            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                            <span class="text-muted form-text small">@T["Please retype your admin password to ensure you've entered this correctly."]</span>
                        </div>
                    </fieldset>
                </div>
            </div>
        }
        else
        {
            <input type="hidden" asp-for="UserName" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Password" />
            <input type="hidden" asp-for="PasswordConfirmation" />
        }

        <div class="form-group">
            <h6>@T["URL Settings"]</h6>
            @T["Specify a host name or prefix for this tenant."]
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group" asp-validation-class-for="RequestedUrlHost">
                    <label asp-for="RequestedUrlHost">
                        @T["Host Name"]
                    </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">https://</span>
                        </div>
                        <input asp-for="RequestedUrlHost" class="form-control" />
                    </div>

                    <span asp-validation-for="RequestedUrlHost" class="text-danger"></span>
                    <span class="text-muted form-text small">@T["For example https://www.domain.com or https://sub.domain.com. Leave blank to resolve to the default host name. If requests contain this host name this tenant will be loaded."]</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group" asp-validation-class-for="RequestedUrlPrefix">
                    <label asp-for="RequestedUrlPrefix">
                        @T["Prefix"]
                    </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">/</span>
                        </div>
                        @if (Model.IsNewTenant)
                        {
                            <input asp-for="RequestedUrlPrefix" class="form-control" />
                        }
                        else
                        {
                            <input readonly asp-for="RequestedUrlPrefix" class="form-control" />
                        }
                    </div>
                    <span asp-validation-for="RequestedUrlPrefix" class="text-danger"></span>
                    <span class="text-muted form-text small">@T["A prefix or folder name for this tenant. For example sitename or companyname. If requests contain this prefix and match the host name this tenant will be loaded. Leave blank to resolve this tenant to the root. Please choose carefully as this cannot be changed once the tenant has been created."]</span>
                </div>
            </div>
        </div>

    </card-body>
</card>
