@model EditTenantViewModel

@if (Model.IsNewTenant)
{
    <h4>@T["Add Tenant"]</h4>
    <span class="text-muted">    
        @T["To ease creating new tenants you can set certain defaults via the "] <a asp-route-action="Settings">@T["settings page"].</a>   
    </span>
}
else
{
    <h4>@T["Edit Tenant"]</h4>
    <span class="text-muted">@T["Edit an existing tenant."]</span>
}
<hr/>