@model EditTenantSettingsViewModel
@{ 
    var authCss = !Model.SmtpSettings.RequireCredentials
        ? "row collapse"
        : "row show";
}

<card class="card mt-4">
    <card-title>
        <h6 class="card-title">@T["Database Settings"]</h6>
    </card-title>
    <card-body>
        <div class="row">
            <div class="col">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="ConnectionString">
                        <h6>@T["Connection string"]</h6>
                        <label asp-for="ConnectionString" class="text-muted">
                            @T["The default connection string to use for new tenants."]
                        </label>
                        <div class="input-group mb-2 mb-sm-0">
                            <div class="search-input-group">
                                <input asp-for="ConnectionString"
                                       autocomplete="off"
                                       data-provide="password"
                                       class="form-control" type="text" autofocus />
                                <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="@T["Toggle Visibility"]" role="button">
                                    <i class="fal fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        <span asp-validation-for="ConnectionString" class="text-danger"></span>
                    </div>
                </fieldset>
                <fieldset class="row" asp-validation-class-for="TablePrefix">
                    <div class="form-group col-md-12">
                        <h6>@T["Table Prefix"]</h6>
                        <label asp-for="TablePrefix" class="text-muted">
                            @T["The default table prefix. This would typically be unique for each tenant."]
                        </label>
                        <input asp-for="TablePrefix" class="form-control" />
                        <span asp-validation-for="TablePrefix" class="text-danger"></span>
                        
                    </div>
                </fieldset>
            </div>
        </div>
    </card-body>
</card>

<card class="card mt-4">
    <card-title>
        <h6 class="card-title">@T["Email Settings"]</h6>
    </card-title>
    <card-body>

        <div class="row">
            <div class="col">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="DefaultFrom">
                        <label asp-for="@Model.SmtpSettings.DefaultFrom">
                            <strong>@T["Default Sender"]</strong>
                            <span asp-validation-for="@Model.SmtpSettings.DefaultFrom" class="text-danger"></span>
                            <br />
                            <span class="text-muted">@T["Application generated emails will appear to be sent from this email address"]</span>
                        </label>
                        <input placeholder="noreply@yourdomain.com" asp-for="@Model.SmtpSettings.DefaultFrom" class="form-control" />
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Host">
                        <label asp-for="@Model.SmtpSettings.Host">
                            <strong>@T["Server Address"]</strong>
                            <span asp-validation-for="@Model.SmtpSettings.Host" class="text-danger"></span><br />
                            <span class="text-muted">@T["The host name for your SMTP server."]</span>
                        </label>
                        <input placeholder="smtp.domain.com" asp-for="@Model.SmtpSettings.Host" class="form-control" />
                    </div>
                </fieldset>
            </div>
            <div class="col">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Port">
                        <label asp-for="@Model.SmtpSettings.Port">
                            <strong>@T["Server Port"]</strong>
                            <span asp-validation-for="@Model.SmtpSettings.Port" class="text-danger"></span>
                            <br />
                            <span class="text-muted">@T["The port for your SMTP server."]</span>
                        </label>
                        <input placeholder="25" asp-for="@Model.SmtpSettings.Port" class="form-control" />
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="@authCss" id="smtpAuth">
            <div class="col">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="UserName">
                        <label asp-for="@Model.SmtpSettings.UserName">
                            <strong>@T["Username"]</strong>
                            <span asp-validation-for="@Model.SmtpSettings.UserName" class="text-danger"></span>
                            <br />
                            <span class="text-muted">@T["If authentication is required provide your username."]</span>
                        </label>
                        <input placeholder="email@address.com" asp-for="@Model.SmtpSettings.UserName" class="form-control" />
                    </div>
                </fieldset>
            </div>
            <div class="col">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="Password">
                        <label asp-for="SmtpSettings.Password">
                            <strong>@T["Password"]</strong>
                            <span asp-validation-for="SmtpSettings.Password" class="text-danger"></span>
                            <br />
                            <span class="text-muted">@T["If authentication is required provide your password."]</span>
                        </label>                        
                        <div class="input-group mb-2 mb-sm-0">
                            <div class="search-input-group">
                                <input asp-for="SmtpSettings.Password"
                                          data-provide="password"
                                       class="form-control" />                         
                                <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="@T["Toggle Visibility"]" role="button">
                                    <i class="fal fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="SmtpSettings.RequireCredentials">
                    <span class="switch switch-round mr-2">
                        <input data-toggle="collapse" data-target="#smtpAuth" class="form-check-input" asp-for="SmtpSettings.RequireCredentials" />
                        <span class="switch-slider"></span>
                    </span>
                    @T["Requires SMTP Authentication"]
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <fieldset>
                    <div class="form-group" asp-validation-class-for="EnablePolling">
                        <label asp-for="SmtpSettings.EnableSsl">
                            <span class="switch switch-round mr-2">
                                <input class="form-check-input" asp-for="SmtpSettings.EnableSsl" />
                                <span class="switch-slider"></span>
                            </span>
                            @T["Enable TLS / SSL for SMTP Server"]
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>

    </card-body>
</card>