@model EntityAttachmentOptions
@{
    var uploadUrl = GetRouteUrl(new RouteValueDictionary()
    {
        ["area"] = "Plato.Attachments",
        ["controller"] = "streaming",
        ["action"] = "upload",
        ["guid"] = Model.Guid
    });
}

<input type="text" name="@Model.GuidHtmlName" asp-for="Guid" />

<div class="card">
    <div class="dropdown list-group-flush" data-provide="attachment-dropdown">
        <a asp-route-area="Plato.Entities.Attachments" asp-route-controller="Home" asp-route-action="Index" asp-route-opts.entityId="@Model.EntityId.ToString()" asp-route-opts.guid="@Model.Guid" class="list-group-item list-group-item-action dropdown-toggle dropdown-toggle-no-caret font-weight-bold" id="attachmentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
            <i class="fal fa-cog float-right"></i>
            @T["Attachments"]
        </a>
        <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in p-0 min-w-500" aria-labelledby="attachmentDropdown">

            <div class="list-group list-group-flush list-group-hover">
                <div class="list-group-item list-group-item-dropzone">
                    <div class="dropzone" data-dropzone-url="@uploadUrl" data-provide="attachment-dropzone">
                    </div>
                </div>
            </div>

            <div class="dropdown-menu-content max-h-300 overflow-auto">
                <p class="text-center"><i class="fal fa-spinner fa-spin"></i></p>
            </div>

        </div>
    </div>
    <div class="card-body">
        @T["No attachments"]
    </div>
</div>