@model EntityAttachmentsIndexViewModel
@{
    Layout = null;
}

<div class="list-group list-group-flush list-group-hover">
    <div class="list-group-item list-group-item-dropzone">
        <div class="dropzone" data-provide="attachment-dropzone">
        </div>
    </div>
</div>

<div class="max-h-300 overflow-auto">
    <div class="list-group list-group-flush list-group-hover">

        <div class="list-group-item list-group-item-action">
            <a href="#" class="btn float-right text-muted" data-toggle="tooltip" title="@T["Delete Attachment"]">
                <i class="fal fa-times"></i>
            </a>
            <span class="btn float-right text-muted" data-toggle="tooltip" title="@T["123.3kb, 24 views"]">
                <i class="fal fa-info-circle"></i>
            </span>
            <span class="fiv-sqo fiv-icon-zip align-middle mr-1"></span>
            <a href="#" class="align-middle">
                AnExampleOfAReallyLongFileName.zip
            </a>
        </div>

        <div class="list-group-item list-group-item-action">
            <a href="#" class="btn float-right text-muted" data-toggle="tooltip" title="@T["Delete Attachment"]">
                <i class="fal fa-times"></i>
            </a>
            <span class="btn float-right text-muted" data-toggle="tooltip" title="@T["123.3kb, 24 views"]">
                <i class="fal fa-info-circle"></i>
            </span>
            <span class="fiv-sqo fiv-icon-pdf align-middle mr-1"></span>
            <a href="#" class="align-middle">
                Example.pdf
            </a>
        </div>

        <div class="list-group-item list-group-item-action">
            <a href="#" class="btn float-right text-muted" data-toggle="tooltip" title="@T["Delete Attachment"]">
                <i class="fal fa-times"></i>
            </a>
            <span class="btn float-right text-muted" data-toggle="tooltip" title="@T["123.3kb, 24 views"]">
                <i class="fal fa-info-circle"></i>
            </span>
            <span class="fiv-sqo fiv-icon-cmd align-middle mr-1"></span>
            <a href="#" class="align-middle">
                Commant.cmd
            </a>
        </div>

        <div class="list-group-item list-group-item-action">
            <a href="#" class="btn float-right text-muted" data-toggle="tooltip" title="@T["Delete Attachment"]">
                <i class="fal fa-times"></i>
            </a>
            <span class="btn float-right text-muted" data-toggle="tooltip" title="@T["123.3kb, 24 views"]">
                <i class="fal fa-info-circle"></i>
            </span>
            <span class="fiv-sqo fiv-icon-doc align-middle mr-1"></span>
            <a href="#" class="align-middle">
                SomeDocument.doc
            </a>
        </div>

        <div class="list-group-item list-group-item-action">
            <a href="#" class="btn float-right text-muted" data-toggle="tooltip" title="@T["Delete Attachment"]">
                <i class="fal fa-times"></i>
            </a>
            <span class="btn float-right text-muted" data-toggle="tooltip" title="@T["123.3kb, 24 views"]">
                <i class="fal fa-info-circle"></i>
            </span>
            <span class="fiv-sqo fiv-icon-zip align-middle mr-1"></span>
            <a href="#" class="align-middle">
                AnExampleOfAReallyLongFileName.zip
            </a>
        </div>

        <div class="list-group-item list-group-item-action">
            <a href="#" class="btn float-right text-muted" data-toggle="tooltip" title="@T["Delete Attachment"]">
                <i class="fal fa-times"></i>
            </a>
            <span class="btn float-right text-muted" data-toggle="tooltip" title="@T["123.3kb, 24 views"]">
                <i class="fal fa-info-circle"></i>
            </span>
            <span class="fiv-sqo fiv-icon-pdf align-middle mr-1"></span>
            <a href="#" class="align-middle">
                Example.pdf
            </a>
        </div>

    </div>
</div>
