@model SiteHeaderViewModel
@{
    var platoSiteOptions = GetOptions<PlatoSiteOptions>();
    var css = "site-nav";
    var containerCss = "container";
    if (Model.Sticky)
    {
        css = "site-nav site-nav-fixed";
    }
}

<nav class="@css">
    <div class="nav-site">
        <div class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-light">
            <div class="@containerCss">
                <a class="navbar-brand" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Index" data-provide="loader-spy">                        
                    <span class="plato-brand align-middle mr-2"></span> 
                    <span class="d-inline-block align-middle text-primary">Plato</span>
                </a>
                <div class="navbar-mobile">
                    <div class="navbar-nav">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-item-bars">
                                <a href="#" class="nav-link dropdown-toggle-no-caret" data-toggle="collapse" data-target="#site-navbar-collapse" aria-controls="site-navbar-collapse" aria-expanded="false" aria-label="@T["Navigation"]" data-provide="tooltip" title="@T["Navigation"]">
                                    <i class="fal fa-bars"></i>
                                </a>
                            </li>
                            @if (this.CurrentUser != null)
                            {
                                <li class="nav-item dropdown user-dropdown">
                                    <form asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="LogOff" method="post">
                                        <a class="nav-link" href="#" data-toggle="dropdown" data-display="static">
                                            <avatar class="avatar avatar-sm" url="@this.CurrentUser.Avatar.Url" />
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in position-absolute">
                                            <navigation name="edit-profile"
                                                        collaspsable="true"
                                                        class="list-unstyled"
                                                        li-css-class="d-block w-100"
                                                        link-css-class="dropdown-item" />
                                            <authorize asp-permission="AdminAccess">
                                                <authorize-success>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" asp-route-area="Plato.Admin" asp-route-controller="Admin" asp-route-action="Index">@T["Dashboard"]</a>
                                                </authorize-success>
                                            </authorize>
                                            <div class="dropdown-divider"></div>
                                            <button type="submit" class="btn dropdown-item">@T["Log off"]</button>
                                        </div>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Login" asp-route-returnUrl="@Context.Request.Path" data-provide="loader-spy">@T["Login"]</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="navbar-collapse collapse" id="site-navbar-collapse" role="navigation">
                    <div class="navbar-nav">
                        <div class="nav nav-pills">
                            <div class="nav-item">
                                <a class="nav-link text-nowrap font-weight-bold" asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Index" data-provide="loader-spy" data-toggle="nav-dropdown" data-target="#product-menu" aria-expanded="false">
                                    Features <i class="fal fa-chevron-down nav-dropdown-toggle"></i>
                                </a>                             
                            </div>
                            <div class="nav-item">
                                <a class="nav-link font-weight-bold" href="@platoSiteOptions.DemoUrl" data-provide="loader-spy" target="_blank">
                                    <span class="nav-text">
                                        Demo
                                    </span>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link font-weight-bold" asp-route-area="Plato.Site" asp-route-controller="Pricing" asp-route-action="Index" data-provide="loader-spy">
                                    <span class="nav-text">
                                        Pricing
                                    </span>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link font-weight-bold" asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index" data-provide="loader-spy">
                                    <span class="nav-text">
                                        Support
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-user">
                    <div class="navbar-nav">
                        @if (this.CurrentUser != null)
                        {
                            <form asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="LogOff" method="post" class="form-inline">
                                <ul class="nav nav-pills">
                                    <li class="nav-item dropdown user-dropdown">
                                        <a href="#" class="nav-link dropdown-toggle dropdown-toggle-no-caret" id="accountDropDown" data-toggle="dropdown" data-provide="tooltip" title="@T["Account"]">
                                            <avatar class="avatar avatar-sm" style="width: 28px; height: 28px;" url="@this.CurrentUser.Avatar.Url" />
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" aria-labelledby="accountDropDown">
                                            <div class="user-dropdown-menu-header">
                                                <div class="p-3">
                                                    <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@this.CurrentUser.Id" asp-route-opts.alias="@this.CurrentUser.Alias" class="btn btn-sm btn-primary float-right">@T["Profile"]</a>
                                                    <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="EditProfile" data-toggle="tooltip" title="@T["Edit Photo"]" class="d-inline-block mr-2">
                                                        <avatar class="avatar" url="@this.CurrentUser.Avatar.Url" />
                                                    </a>
                                                    <h6 class="d-inline-block align-middle max-w-150 text-truncate" title="@this.CurrentUser.DisplayName">@this.CurrentUser.DisplayName</h6>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                            <navigation name="edit-profile"
                                                        collaspsable="true"
                                                        class="list-unstyled"
                                                        li-css-class="d-block w-100"
                                                        link-css-class="dropdown-item" />
                                            <authorize asp-permission="AdminAccess">
                                                <authorize-success>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" asp-route-area="Plato.Admin" asp-route-controller="Admin" asp-route-action="Index">@T["Dashboard"]</a>
                                                </authorize-success>
                                            </authorize>
                                            <div class="dropdown-divider"></div>
                                            <button type="submit" class="btn dropdown-item">@T["Log off"]</button>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        }
                        else
                        {
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="btn btn-primary" asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Login" asp-route-returnUrl="@Context.Request.Path" data-provide="loader-spy">@T["Login"]</a>
                                </li>
                                   
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="product-menu" class="nav-dropdown-menu">
            <div class="container-fluid container-fluid-1400">
                <div class="row">
                    <div class="col-lg-8 text-center">                                            
                        <h5>All-in-one collaboration & support software</h5>
                        <hr />
                        <div class="mt-9">
                            <div class="row">
                                <div class="col-12 col-lg-4 mb-4">
                                    <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Discuss" class="d-block py-4 text-center border box box-shadow" data-provide="loader-spy">
                                        <div class="livicon-evo d-inline-block" data-options="
                                            name:comment;
                                            repeat: loop;
                                            style: linesAlt;
                                            size: 64px;
                                            strokeWidth: 2px;
                                            strokeColor: #007bff;
                                            strokeColorAlt: #2A9FD6;
                                            eventType: none;">
                                        </div>
                                        <strong class="d-block h5 text-primary text-uppercase my-3">Discuss</strong>
                                        <span class="d-block">
                                            Community forums
                                        </span>
                                    </a>
                                </div>
                                <div class="col-12 col-lg-4 mb-4">
                                    <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Docs" class="d-block py-4 text-center border box box-shadow" data-provide="loader-spy">
                                        <div class="livicon-evo d-inline-block" data-options="
                                            name: notebook;
                                            repeat: loop;
                                            style: linesAlt;
                                            size: 64px;
                                            strokeWidth: 2px;
                                            strokeColor: #007bff;
                                            strokeColorAlt: #2A9FD6;
                                            eventType: none;">
                                        </div>
                                        <strong class="d-block h5 text-primary text-uppercase my-3">Docs</strong>
                                        <span class="d-block">
                                            Beautiful documentation
                                        </span>
                                    </a>
                                </div>
                                <div class="col-12 col-lg-4 mb-4">
                                    <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Articles" class="d-block py-4 text-center border box box-shadow" data-provide="loader-spy">
                                        <div class="livicon-evo d-inline-block" data-options="
                                            name: help;
                                            repeat: loop;
                                            style: linesAlt;
                                            size: 64px;
                                            strokeWidth: 2px;
                                            strokeColor: #007bff;
                                            strokeColorAlt: #2A9FD6;
                                            eventType: none;">
                                        </div>
                                        <strong class="d-block h5 text-primary text-uppercase my-3">Articles</strong>
                                        <span class="d-block">
                                            Self service support
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Questions" class="d-block py-4 text-center bg-white border box box-shadow" data-provide="loader-spy">
                                        <div class="livicon-evo d-inline-block" data-options="
                                            name: question-alt;
                                            repeat: loop;
                                            style: linesAlt;
                                            size: 64px;
                                            strokeWidth: 2px;
                                            strokeColor: #007bff;
                                            strokeColorAlt: #2A9FD6;
                                            eventType: none;">
                                        </div>
                                        <strong class="d-block h5 text-primary text-uppercase my-2">Questions</strong>
                                        <span class="d-block">
                                            Q&A for users & teams
                                        </span>
                                    </a>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Ideas" class="d-block py-4 text-center bg-white border box box-shadow" data-provide="loader-spy">
                                        <div class="livicon-evo d-inline-block" data-options="
                                            name:bulb;
                                            repeat: loop;
                                            style: linesAlt;
                                            size: 64px;
                                            strokeWidth: 2px;
                                            strokeColor: #007bff;
                                            strokeColorAlt: #2A9FD6;
                                            eventType: none;">
                                        </div>
                                        <strong class="d-block h5 text-primary text-uppercase my-2">Ideas</strong>
                                        <span class="d-block">
                                            Community ideation
                                        </span>
                                    </a>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Issues" class="d-block py-4 text-center bg-white border box box-shadow" data-provide="loader-spy">
                                        <div class="livicon-evo d-inline-block" data-options="
                                            name: bug;
                                            repeat: loop;
                                            style: linesAlt;
                                            size: 64px;
                                            strokeWidth: 2px;
                                            strokeColor: #007bff;
                                            strokeColorAlt: #2A9FD6;
                                            eventType: none;">
                                        </div>
                                        <strong class="d-block h5 text-primary text-uppercase my-2">Issues</strong>
                                        <span class="d-block">
                                            Community issues
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 pt-4 text-center">
                                    <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Modules" data-provide="loader-spy" class="btn btn-primary">
                                        Browse all 100+ modules
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h6 class="text-uppercase">Learn more</h6>
                        <hr />
                        <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Index" data-provide="loader-spy" class="nav-dropdown-item">
                            About Plato
                        </a>
                        <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Modules" data-provide="loader-spy" class="nav-dropdown-item">
                            180+ Modules
                        </a>
                        <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Desktop" data-provide="loader-spy" class="nav-dropdown-item">
                            Plato Desktop
                        </a>                      
                        <a href="https://github.com/InstantASP/plato" data-provide="loader-spy" class="nav-dropdown-item" target="_blank">
                            Plato on GitHub<i class="fal fa-external-link ml-2"></i>
                        </a>
                        <a href="https://github.com/InstantASP/Plato/releases" data-provide="loader-spy" class="nav-dropdown-item" target="_blank">
                            Release History<i class="fal fa-external-link ml-2"></i>
                        </a>
                        <a href="https://github.com/InstantASP/Plato/commits/master" data-provide="loader-spy" class="nav-dropdown-item" target="_blank">
                            Latest Commits<i class="fal fa-external-link ml-2"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>