@model FileListItemViewModel

@{
    var viewText = Model.File.TotalViews == 1 ? T["view"] : T["views"];
    var iconCss = !string.IsNullOrEmpty(Model.File.Extension) ? $"fiv-icon-{Model.File.Extension.Replace(".", "")}" : string.Empty;
    var views = $"{Model.File.TotalViews.ToPrettyInt()} {viewText.Value}";
}

<div class="list-left">
    <span title="@Model.File.Extension.Replace(".", "")" data-toggle="tooltip" class="fiv-sqo fa-2x mt-2 @iconCss"></span>
</div>

<div class="list-body">
    <div>
        <a asp-route-area="@Model.File.ModuleId" asp-route-controller="Home" asp-route-action="Download" asp-route-id="@Model.File.Id" target="_blank" class="font-weight-bold">
            @Model.File.Name
        </a>
    </div>
    <div>
        <ul class="list-inline text-muted">
            <li class="list-inline-item">
                @Model.File.ContentLength.ToFriendlyFileSize()
            </li>
            <li class="list-inline-item">
                @views
            </li>
            @if (Model.File.CreatedBy != null)
            {
                <li class="list-inline-item">                  
                    <a asp-route-area="Plato.Users" asp-route-controller="Home" asp-route-action="Display" asp-route-opts.id="@Model.File.CreatedUserId" asp-route-opts.alias="@Model.File.CreatedBy.Alias" data-provide="popper" data-popper-url="@Model.File.CreatedBy.Urls.GetProfileUrl" data-popper-position="bottom">                        
                        @Model.File.CreatedBy.DisplayName
                    </a>
                </li>
            }
            <li class="list-inline-item">
                <date utc="Model.File.CreatedDate"></date>
            </li>
        </ul>
    </div>
</div>




