@model FacebookLoginViewModel
@inject SignInManager<User> _signInManager
@{
    var name = "Facebook";
    var schemes = await _signInManager.GetExternalAuthenticationSchemesAsync();
    AuthenticationScheme scheme = null;
    if (schemes != null)
    {
        scheme = schemes.FirstOrDefault(p => name.Equals(p.Name, StringComparison.OrdinalIgnoreCase));
    }
}

@if (scheme != null)
{    
    <form asp-area="Plato.Users" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-secondary btn-block" name="provider" value="@scheme.Name" title="Log in using your @scheme.DisplayName account">                    
                    <img aria-hidden="true" alt="@T["Facebook Icon"]" src="/plato.authentication.facebook/content/images/facebook-icon.png" class="img-24 d-inline-block" /> @T["Login with"] @scheme.DisplayName
                </button>
            </div>
        </fieldset>
    </form>
}