@model LoginViewModel

<div class="form-group">
    <a class="float-right" asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]">@T["Forgot your password?"]</a>
    <label asp-for="RememberMe">
        <span class="switch switch-round mr-2">
            <input data-toggle="collapse" class="form-check-input" asp-for="RememberMe" />
            <span class="switch-slider"></span>
        </span>
        @T["Remember me for 30 days"] <i class="fal fa-info-circle" data-toggle="tooltip" title="@T["Only enable if you are logging in from a secure device only you have acces to"]"></i>
    </label>
</div>

<div class="form-group">
    <button type="submit" role="button" class="btn btn-lg btn-primary btn-block">@T["Login"]</button>
</div>

<div class="form-group">
    <a class="btn btn-lg btn-secondary btn-block" asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">
        @T["Create an account"]
    </a>
</div>

<p>
    @T["Before you can login you must first"] <a asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="ConfirmEmail" asp-route-returnurl="@ViewData["ReturnUrl"]">@T["confirm your email address"]</a>
</p>
