@using Plato.Internal.Abstractions.Settings
@model DemoSettingsViewModel
@{
    var platoOpts = GetOptions<PlatoOptions>();
    var isDemo = platoOpts?.DemoMode ?? false;
}

<div asp-validation-summary="All"></div>

<div class="row">
    <div class="col-lg-6">
        <card>
            <card-title>
                <h6 class="card-title">@T["Demo Admin Account"]</h6>
                <div class="text-muted">
                    @T["The default administrator account users can login with to explore the Plato dashboard."]
                </div>
            </card-title>
            <card-body>
                <div class="row">
                    <div class="col">
                        <fieldset>
                            <div class="form-group" asp-validation-class-for="DefaultFrom">
                                <label asp-for="AdminUserName">
                                    <strong>@T["Admin Username"]</strong>
                                    <span asp-validation-for="AdminUserName" class="text-danger"></span>
                                    <br />
                                    <span class="text-muted">@T["The username for the demo administrator account."]</span>
                                </label>
                                <input placeholder="@T["your administrator username..."]" asp-for="AdminUserName" class="form-control" autofocus />
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group" asp-validation-class-for="DefaultFrom">
                                <label asp-for="AdminPassword">
                                    <strong>@T["Admin Password"]</strong>
                                    <i class="fal fa-info-circle" title="@T["Must contain at least 1 lower case character, 1 upper case character, 1 special character, 1 digit and be a minimum of 6 characters long."]" data-toggle="tooltip"></i>
                                    <span asp-validation-for="AdminPassword" class="text-danger"></span>
                                    <br />
                                    <span class="text-muted">@T["The password for the demo administrator account."]</span>
                                </label>
                                <div class="search-input-group">
                                    <input asp-for="AdminPassword"
                                           type="search"
                                           class="form-control"
                                           autocomplete="off"
                                           data-provide="password"
                                           placeholder="@T["your administrator password..."]" />
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="@T["Toggle Visibility"]" role="button">
                                        <i class="fal fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </card-body>
        </card>
        <card class="card mt-4">
            <card-footer>
                @if (isDemo)
                {
                    <span class="d-inline-block disabled" data-toggle="tooltip" title="@T["These settings cannot be changed in the demo"]">
                        <a href="#" class="btn btn-primary disabled">
                            @T["Save"]
                        </a>
                    </span>
                }
                else
                {
                    <button class="btn btn-primary" type="submit">@T["Save"]</button>
                }
            </card-footer>
        </card>
    </div>
    <div class="col-lg-6">
        <card>
            <card-title>
                <h6 class="card-title">@T["Demo Data"]</h6>
                <div class="text-muted">
                    @T["Use the options below to populate the Plato demo with some basic demo data."]
                </div>
            </card-title>
            <card-body>
                <p>
                    <button class="btn btn-secondary" asp-controller="Admin" asp-action="InstallUsers" type="submit">@T["Add Sample Users"]</button>
                </p>
                <p>
                    <button class="btn btn-secondary" asp-controller="Admin" asp-action="InstallEntities" type="submit">@T["Add Sample Entities"]</button>
                    <button class="btn btn-danger" asp-controller="Admin" asp-action="UninstallEntities" data-provide="confirm" type="submit">@T["Remove All Entities"]</button>
                </p>
            </card-body>
        </card>
    </div>
</div>