@model EditAttachmentSettingsViewModel
@{
    var platoOpts = GetOptions<PlatoOptions>();
    var allowedExtensions = Model.AllowedExtensions.Any()
        ? Model.AllowedExtensions.ToDelimitedString().Replace(",", ", ")
        : T["No extensions allowed"].Value;
}

<input type="hidden" asp-for="RoleId"/>
<div asp-validation-summary="All"></div>

<card>
    <card-title>
        <h6 class="card-title">@Model.Role.Name</h6>
    </card-title>
    <card-body>

        <div class="form-group" asp-validation-class-for="AvailableSpace">
            <label asp-for="AvailableSpace">
                <strong>@T["Available Space"]</strong>
                <span asp-validation-for="AvailableSpace" class="text-danger"></span>
                <br />
                <span class="text-muted">@T["Control the maximum space available for each user within this role"]</span>
            </label>
            <select class="form-control"
                    asp-for="AvailableSpace"
                    asp-items="@Model.AvailableSpaces"></select>
        </div>

        <div class="form-group" asp-validation-class-for="AllowedExtensions">
            <label asp-for="AllowedExtensions">
                <strong>@T["Allowed Extensions"]</strong>
                <span asp-validation-for="AllowedExtensions" class="text-danger"></span>
                <br />
                <span class="text-muted">@T["Control the file types each user within this role can upload"]</span>
            </label>
            <a href="#selectExtensionModal" data-toggle="modal" class="form-control text-decoration-none" data-target="#selectExtensionModal" role="button">
                @allowedExtensions
            </a>
        </div>
    </card-body>
</card>

<card class="card mt-4">
    <card-footer>
        @if (platoOpts.DemoMode)
        {
            <span class="d-inline-block disabled" data-toggle="tooltip" title="@T["This option is disabled within the demo"]">
                <a href="#" class="btn btn-primary disabled">
                    @T["Save"]
                </a>
            </span>
        }
        else
        {
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
        }
        <a class="btn btn-secondary" asp-route-action="Settings">@T["Cancel"]</a>
    </card-footer>
</card>

<div class="modal fade" id="selectExtensionModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">@T["Allowed Extensions"]</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body max-h-500 overflow-auto">

                <div class="form-group">
                    <input type="search"
                            data-provide="filter-list"
                            data-filter-list-target="#iconList"
                            data-filter-list-empty="#iconListEmpty"
                            class="form-control" placeholder="@T["Search icons"]" />
                </div>
                <div id="iconList" class="list-group list-group-flush flex-row flex-wrap">
                    @foreach (var extension in Model.DefaultExtensions)
                    {
                        var css = Model.IconPrefix + extension;
                        var check = Model.AllowedExtensions.Contains(extension);
                        <label class="list-group-item p-0" for="@extension" data-filter-list-value="@extension">
                            <span class="d-flex flex-column">
                                <span style="width: 62px; text-align:center;" class="d-flex" data-toggle="tooltip" title="@extension">
                                    <span class="col-12 d-inline-block text-truncate small">
                                        @extension
                                    </span>
                                </span>
                                <span class="d-flex">
                                    <span class="radio-icon">
                                        <input checked="@check" type="checkbox" value="@extension" name="@Model.ExtensionHtmlName" id="@extension" />
                                        <span><i class="@css"></i></span>
                                    </span>
                                </span>
                            </span>
                        </label>

                    }
                </div>
                <div id="iconListEmpty" style="display: none;">
                    @T["No extensions matched your search!"]
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal" aria-label="Close">@T["Cancel"]</a>

                @if (platoOpts.DemoMode)
                {
                    <span class="d-inline-block disabled" data-toggle="tooltip" title="@T["This option is disabled within the demo"]">
                        <a href="#" class="btn btn-primary disabled">
                            @T["Save"]
                        </a>
                    </span>
                }
                else
                {
                    <button class="btn btn-primary" type="submit">@T["Save"]</button>
                }

            </div>
        </div>
    </div>
</div>