@model EditAttachmentSettingsViewModel
@{
    var platoOpts = GetOptions<PlatoOptions>();
}

<input type="hidden" asp-for="RoleId"/>

<div asp-validation-summary="All"></div>

<card>
    <card-title>
        <h6 class="card-title">@Model.Role.Name</h6>
    </card-title>
    <card-body>

        <div class="form-group" asp-validation-class-for="AvailableSpace">
            <label asp-for="AvailableSpace">
                <strong>@T["Available Space"]</strong>
                <span asp-validation-for="AvailableSpace" class="text-danger"></span>
                <br />
                <span class="text-muted">@T["Control the maximum space available for each user within this role"]</span>
            </label>
            <select class="form-control"
                    asp-for="AvailableSpace"
                    asp-items="@Model.AvailableSpaces"></select>
        </div>

        <div class="form-group" asp-validation-class-for="AllowedExtensions">
            <label asp-for="AllowedExtensions">
                <strong>@T["Allowed Extensions"]</strong>
                <span asp-validation-for="AllowedExtensions" class="text-danger"></span>
                <br />
                <span class="text-muted">@T["Control the files each user within this role can upload"]</span>
            </label>
            <a href="#selectExtensionModal" data-toggle="modal" data-target="#selectExtensionModal" role="button">
                <input readonly="readonly" value="@Model.AllowedExtensions.ToDelimitedString().Replace(",", ", ")" class="form-control" />
            </a>
        </div>

    </card-body>
</card>

<card class="card mt-4">
    <card-footer>

        @if (platoOpts.DemoMode)
        {
            <span class="d-inline-block disabled" data-toggle="tooltip" title="@T["This option is disabled within the demo"]">
                <a href="#" class="btn btn-primary disabled">
                    @T["Save"]
                </a>
            </span>
        }
        else
        {
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
        }

        <a class="btn btn-secondary" asp-route-action="Index">@T["Cancel"]</a>

    </card-footer>
</card>




<div class="modal fade" id="selectExtensionModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">@T["Settings"]</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body max-h-500 overflow-auto">

                    <div class="form-group">
                        <input type="search"
                               data-provide="filter-list"
                               data-filter-list-target="#iconList"
                               data-filter-list-empty="#iconListEmpty"
                               class="form-control" placeholder="@T["Search icons"]" />
                    </div>
                    <div id="iconList" class="list-group list-group-flush flex-row flex-wrap">
                        @foreach (var extension in Model.DefaultExtensions)
                        {
                            var css = Model.IconPrefix + extension;
                            var check = Model.AllowedExtensions.Contains(extension);
                            <label class="list-group-item p-0" for="@extension" data-filter-list-value="@extension">
                                <span class="d-flex flex-column">
                                    <span style="width: 62px; text-align:center;" class="d-flex" data-toggle="tooltip" title="@extension">
                                        <span class="col-12 d-inline-block text-truncate small">
                                            @extension
                                        </span>
                                    </span>
                                    <span class="d-flex">
                                        <span class="radio-icon">
                                            <input checked="@check" type="checkbox" value="@extension" name="@Model.ExtensionHtmlName" id="@extension" />
                                            <span><i class="@css"></i></span>
                                        </span>
                                    </span>

                                </span>
                            </label>

                        }
                    </div>
                    <div id="iconListEmpty" style="display: none;">
                        @T["No extensions matched your search!"]
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-dismiss="modal" aria-label="Close">@T["Cancel"]</a>

                    @if (platoOpts.DemoMode)
                    {
                        <span class="d-inline-block disabled" data-toggle="tooltip" title="@T["This option is disabled within the demo"]">
                            <a href="#" class="btn btn-primary disabled">
                                @T["Save"]
                            </a>
                        </span>
                    }
                    else
                    {
                        <button class="btn btn-primary" type="submit">@T["Save"]</button>
                    }

                </div>
            </div>
        </div>

    </div>



@*<div class="form-group">
        <input type="search"
               data-provide="filter-list"
               data-filter-list-target="#extensionList"
               data-filter-list-empty="#extensionListEmpty"
               class="form-control"
               placeholder="@T["Search extensions"]"
               autofocus />
    </div>

    <card class="card card-body-flush">
        <card-title>
            <h6 class="card-title">@T["Allowed Extensions"]</h6>
            <div class="text-muted">
                @T["Control the files that can be uploaded"]
            </div>
        </card-title>
        <card-body>
            <div id="extensionList" class="list-group list-group-flush list-group-hover radio-icon-list">
                <div class="row no-gutters">
                    <div class="list-group-item infinite-scroll-loader col-12" data-type="previous"></div>
                    @foreach (var extension in Model.DefaultExtensions)
                    {
                        var css = Model.IconPrefix + extension;
                        var check = Model.AllowedExtensions.Contains(extension);
                        <div class="float-left list-group-item list-group-item-action p-0 col-lg-3 col-md-6 col-sm-12" data-filter-list-value="@extension" style="margin-top: -1px;">
                            <label class="d-block py-3 text-center cursor-pointer" for="@extension">
                                <span class="radio-icon bg-primary-10 d-inline-block">
                                    <input checked="@check" type="checkbox" value="@extension" name="@Model.ExtensionHtmlName" id="@extension" />
                                    <span class="d-block"><i class="@css"></i></span>
                                </span>
                                <span class="d-block font-weight-bold">@extension</span>
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div id="extensionListEmpty" style="display: none;">
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        @T["No extension matched your search!"]
                    </div>
                </div>
            </div>
        </card-body>
    </card>

    <card class="card mt-4">
        <card-footer>
            @if (platoOpts.DemoMode)
            {
                <span class="d-inline-block disabled" data-toggle="tooltip" title="@T["This option is disabled within the demo"]">
                    <a href="#" class="btn btn-primary disabled">
                        @T["Save"]
                    </a>
                </span>
            }
            else
            {
                <button class="btn btn-primary" type="submit">@T["Save"]</button>
            }
        </card-footer>
    </card>*@

