@model AttachmentSettingsViewModel
@{ 
    var platoOpts = GetOptions<PlatoOptions>();
}

<div asp-validation-summary="All"></div>

<div class="form-group">
    <input type="search"
           data-provide="filter-list"
           data-filter-list-target="#extensionList"
           data-filter-list-empty="#extensionListEmpty"
           class="form-control"
           placeholder="@T["Search extensions"]"
           autofocus />
</div>

<card class="card card-body-flush">
    <card-title>   
        <h6 class="card-title">@T["Allowed Extensions"]</h6>
        <div class="text-muted">
            @T["Control the files that can be uploaded"]
        </div>
    </card-title>
    <card-body>
        <div id="extensionList" class="list-group list-group-flush list-group-hover radio-icon-list">
            <div class="row no-gutters">
                <div class="list-group-item infinite-scroll-loader col-12" data-type="previous"></div>
                @foreach (var extension in Model.DefaultExtensions)
                {
                    var css = Model.IconPrefix + extension;
                    var check = Model.AllowedExtensions.Contains(extension);
                    <div class="float-left list-group-item list-group-item-action p-0 col-lg-3 col-md-6 col-sm-12"  data-filter-list-value="@extension" style="margin-top: -1px;">
                        <label class="d-block py-3 text-center cursor-pointer" for="@extension">
                            <span class="radio-icon bg-primary-10 d-inline-block">
                                <input checked="@check" type="checkbox" value="@extension" name="@Model.ExtensionHtmlName" id="@extension" />
                                <span class="d-block"><i class="@css"></i></span>
                            </span>
                            <span class="d-block font-weight-bold">@extension</span>
                        </label>
                    </div>
                }
            </div>
        </div>
        <div id="extensionListEmpty" style="display: none;">
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    @T["No extension matched your search!"]
                </div>
            </div>
        </div>
    </card-body>
</card>

<card class="card mt-4">
    <card-footer>
        @if (platoOpts.DemoMode)
        {
            <span class="d-inline-block disabled" data-toggle="tooltip" title="@T["This option is disabled within the demo"]">
                <a href="#" class="btn btn-primary disabled">
                    @T["Save"]
                </a>
            </span>
        }
        else
        {
            <button class="btn btn-primary" type="submit">@T["Save"]</button>          
        }
    </card-footer>
</card>

